_site/
.jekyll-cache/
.DS_Store
temp-glyph-source-fonts/*
temp/*
patched-fonts/*
check-fonts/*
unpatched-sample-fonts/Input*
casks/*
archives/*
private.cfg
bin/scripts/name_parser/__pycache__/*
bin/scripts/name_parser/log
