temp-glyph-source-fonts/*
temp/*
patched-fonts/Input*
check-fonts/*
unpatched-sample-fonts/Input*
casks/*
archives/*
private.cfg
node_modules
# Only apps should have lockfiles
package-lock.json
# generated *.uuid files
*.uuid
bin/scripts/name_parser/__pycache__/*
bin/scripts/name_parser/log
