---
---
<!DOCTYPE html>
<html dir="ltr" lang="en">
{% include header.html %}
<body>
  <div id="main">
    <div class="container">
      <a href="https://github.com/ryanoasis/nerd-fonts" target="_blank" id="github"
        class="nf nf-fa-github"></a>
    </div>
    {% include topnav.html %}
    {% for page in site.posts reversed %}
      {% if page.page == nil %}
        {% include section.html %}
      {% endif %}
    {% endfor %}
    <div id="footer" class="section text-white">
      <div class="container">
        {% capture foottext %} {% include footer.md %} {% endcapture %}
        {{ foottext | markdownify }}
      </div>
    </div>
  </div>
  {% include analytics.html %}
  {% include scripts.html %}
</body>
</html>
