[Config]
commandline: --removeligatures
abort-mono-patch: True
[Subtables]
# Regular, Italic, Alta Regular have 7 & 8
# all others (e.g. Alta Italic) have 4
# Mono has it's own config.cfg
ligatures: [
    ["Dyslexic Italic|Regular", "Ligature Substitution lookup 8 subtable"],
    ["Dyslexic Italic|Regular", "'liga' Standard Ligatures lookup 7 subtable"],
    ["!Dyslexic Italic|Regular", "'liga' Standard Ligatures lookup 4 subtable"] ]
