<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="assets/css/combo.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700&display=swap' rel='stylesheet' type='text/css'>
    <link rel="canonical" href="https://www.nerdfonts.com" />
    {% if site.favicon %}<link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">{% endif %}
    {% if site.touch_icon %}<link rel="apple-touch-icon" href="{{ site.touch_icon }}">{% endif %}
    <meta name="google-site-verification" content="492okaDWvAC6AttbBxVRWxT7-KNmPqFlLiMupaXdFU0" />
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:site_name" content="Nerd Fonts">
    <meta property="og:url" content="https://www.nerdfonts.com/">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://www.nerdfonts.com/img/sankey-glyphs-combined-diagram.png">
  </head>