<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
((window.gitter = {}).chat = {}).options = {
  room: 'ryanoasis/nerd-fonts'
};
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
<script src="site.js"></script>
<script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "SoftwareApplication",
    "name" : "Nerd Fonts - Iconic font aggregator",
    "image" : "https://www.nerdfonts.com/img/sankey-glyphs-combined-diagram.png",
    "author" : {
      "@type" : "Person",
      "name" : "Ryan L McIntyre"
    },
    "downloadUrl" : "https://www.nerdfonts.com/font-downloads",
    "operatingSystem" : "Linux, macOS, Windows",
    "screenshot" : "https://www.nerdfonts.com/img/nerd-fonts-powerline-extra-terminal.png",
    "softwareVersion" : "2.0.0"
  }
</script>