[Config]
commandline: --removeligatures
[Subtables]
# 5 and 6 are in Regular and Bold
# Italic has none
ligatures: [
    ["!Italic", "'liga' Standard Ligatures in Latin lookup 6 subtable"],
    ["!Italic", "'liga' Standard Ligatures in Latin lookup 5 subtable"] ]
