
p {
	line-height: 1.75em;
}

#main .nerd-font-button {
	padding-top: .5rem;
	padding-bottom: .5rem;
	margin: 0px;
	font-weight: 900;
}

#main .nerd-font-button a {
	text-decoration: none;
	color: inherit;
}

#main .nerd-font-badges {
	line-height: 2.3em;
}

/* adjust touch-size on mobile */
@media screen and (max-width:800px) {
	#main .nerd-font-badges img {
		height: 2.2em;
    	margin: 6px 0px;
	}
}

#main .nerd-font-buttons {
	line-height: 4em;
}

#main .nerd-font-cheat-sheet-search {
	margin-right: auto;
	margin-left: auto;
	font-size: 1.25em;
	width: 400px;
}

#main .nerd-font-cheat-sheet {
	max-height: 480px;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-top: 20px;
}

#main .nerd-font-cheat-sheet .column {
	width: 114px;
	height: 120px;
	text-align: center;
	margin-bottom: 10px;
	display: none; /* don't show any by default */
}

#main .nerd-font-cheat-sheet .column .class-name {
	color: antiquewhite;
	font-family: sans-serif;
	font-style: italic;
	font-weight: bold;
}

#main .nerd-font-cheat-sheet .column .codepoint {
	border: 1px dashed;
	padding: 2px 10px;
	color: #0fbfcf;
	display: inline-block;
}

#main .nerd-font-cheat-sheet .column .class-name, #main .nerd-font-cheat-sheet .column .codepoint {
	font-family: 'mono';
	font-size: 12px;
	max-width: 98px;
	display: inline-block;
	text-align: center;
}

#main .nerd-font-cheat-sheet .nf {
	font-size: 2rem;
}

/* gitter chat tweaks */

.gitter-open-chat-button {
	border-color: white;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	font-weight: bold;
}

/* HACK - replicate FA stack */
.fa-stack {
	display: inline-block;
	height: 2em;
	line-height: 2em;
	position: relative;
	vertical-align: middle;
	width: 2.5em
}

.fa-stack-1x,.fa-stack-2x {
	left: 0;
	position: absolute;
	text-align: center;
	width: 100%
}

.fa-stack-1x {
	line-height: inherit
}

.fa-stack-2x {
	font-size: 2em
}

#forkongithub .nf {
	font-size: 1.25rem;
}

/* for any ASCII :) */

#forkongithub span {
	font-size: 1.75rem;
}

#forkongithub a {
  display: inline-block;
}

/* color scheme */

.nf1 { color: #E2DB74 }
.nf2 { color: #49a7e9 }
.nf3 { color: #66FF99 }
.nf4 { color: #Ff66CC }
.nf5 { color: #00ffff }
.nf6 { color: #f09f17 }
.nf7 { color: #DD1B16 }

/* Example Usage */

.nerd-fonts-example-usage {
	font-size: 2rem;
}

/* Release Changelog section */

#release summary {
	text-align: center;
	font-size: 1.25em;
	cursor: pointer;
	padding: 0px 0px 20px 0px;
}

#all-contributors .container > div > div {
	min-height: 160px;
	width: 130px;
}

#all-contributors a {
	display: inline-block;
}

/* hack fix for emoji key styling */
#all-contributors a[title] {
	text-decoration: none;
}

/* features section */

.feature-sections {

}

.feature-section {
	background: #ffffff55;
	padding: 10px 20px;
	margin-bottom: 20px;
}

.feature-section h2, .feature-section h3, .feature-section h4 {
	font-weight: bold;
	text-align: left;
}

.feature-section h2, .feature-section h3 {
	padding: 10px 0px;
	margin: 0px;
	color: #1c1c1c;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.feature-section h3 {
	font-size: 20px;
	padding-top: 0px;
}

.sectioninner3 {
	line-height: 29px;
	word-spacing: 3px;
	top: inherit;
	left: inherit;
	margin-left: 0px;
	font-weight: bold;
	padding-top: .75em;
}

.sectioninner3 div {
	background-color: #2e2e2e;
	font-weight: bold;
	padding-top: .75em;
}

/* individual pages */

.section-page-wrapper .section {
	position:relative;
	display:block;
	width:100%;
	min-height:0px;
	padding:180px 0;
	background:url(img/bgnoise.png);
  }

.section-page-wrapper .section:first-of-type {
    padding-top: 90px;
}

.section-page-wrapper .sectiondivider {
	width:270px;
	height:270px;
	padding:15px;
	position:relative;
	top:0px;
	left:50%;
	margin-left:-135px;
}

/* ----- fork on github banner ----- */
#forkongithub a {
  color:#fff;
  text-decoration:none;
  font-family:arial,sans-serif;
  text-align:center;
  font-weight:700;
  font-size:1rem;
  line-height:2rem;
  position:relative;
  transition:.5s;
  padding:5px 40px;
}
#forkongithub a::before, #forkongithub a::after {
  content:""; width:100%; display:block; position:absolute;
  top:1px; left:0; height:1px; background:#fff;
}
#forkongithub a::after { bottom:1px; top:auto; }
@media screen and (min-width:800px) {
  #forkongithub {
    position:fixed;
    display:block;
    top:0;
    right:0;
    width:200px;
    overflow:hidden;
    height:209px;
    z-index:99;
  }
  #forkongithub a {
    width:200px;
    position:absolute;
    top:60px;
    right:-60px;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    box-shadow:4px 4px 10px rgba(0,0,0,0.8);
    box-sizing: content-box;
  }
}

/*
 super tiny size (phones)
 point at which nav wraps
 without decrease font size
 */
 @media only screen and (max-width: 326px) {
  nav { font-size: 9px; }
}

/* tiny size (phones) */
@media only screen and (max-width: 380px) {
  nav ul li { min-width:initial; line-height:20px; }
  li.p-downloads a:after { content: ''; }
  .section:first-of-type {
    padding-top: 70px;
  }
  #features .sectioninner2 {
    font-size: .7em;
  }
	#main .nerd-font-cheat-sheet .column {
		width: 102px;
		height: 98px;
	}

	#main .nerd-font-cheat-sheet {
		max-height: 306px;
		padding-top: 0px;
	}
}

/* mid size (tablets, landscapes) */
@media only screen and (max-width: 679px) {
  nav { font-size:10px; }
  li.p-downloads a:after { content: ''; }
  nav ul li {
    min-width:50px;
    line-height:40px;
  }
  .section:first-of-type {
    padding-top: 70px;
  }
  #features .sectioninner2 {
    font-size: .7em;
  }
}

/* anything not desktop */
@media only screen and (max-width: 767px) {
	.container h1 { font-size: 30px; }
	.container h2 { font-size: 24px; }
	.container h3 { font-size: 20px; }
	.container h4 { font-size: 18px; }

	.section { padding:130px 0; }
	
	.section-page-wrapper .sectiondivider,
	.sectiondivider {
    width:200px;
    height:200px;
    padding:15px;
    margin-left:-100px;
  }

	.section-page-wrapper .sectiondivider .fa-stack,
	.sectiondivider .fa-stack {
    font-size: 100px;
    margin-top: -14px;
	}
	
	.section-page-wrapper .sectiondivider h5,
	.sectiondivider h5 {
    font-size:15px;
    bottom:30px;
    width:170px
  }

  #features .sectioninner2 {
    font-size: .7em;
  }

  .columned {
    -webkit-column-count: 2;
    -moz-column-count:    2;
    column-count:         2;
  }
  .sectioninner3 {
    line-height: 21px;
    font-size: 11px;
	}
	/* gitter adjust sidecar on mobile */
	.gitter-open-chat-button {
		bottom: 116px;
		padding: 1em 1em;
		transform: rotate(-90deg);
		right: -28px;
	}
}
	
/* util */

.text-left {
	text-align: left;
}