
#main .nerd-font-button {
	padding-top: .5rem;
	padding-bottom: .5rem;
	margin: 0px;
}

#main .nerd-font-button a {
	text-decoration: none;
	color: inherit;
}

#main .nerd-font-badges {
	line-height: 2.3em;
}

#main .nerd-font-buttons {
	line-height: 4em;
}

#main .nerd-font-cheat-sheet-search {
	margin-right: auto;
	margin-left: auto;
	font-size: 1.25em;
	width: 400px;
}

#main .nerd-font-cheat-sheet {
	max-height: 480px;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-top: 20px;
}

#main .nerd-font-cheat-sheet .column {
	width: 114px;
	height: 120px;
}

/* tiny size (phones) */
@media only screen and (max-width: 380px) {
	#main .nerd-font-cheat-sheet .column {
		width: 102px;
		height: 98px;
	}

	#main .nerd-font-cheat-sheet {
		max-height: 306px;
		padding-top: 0px;
	}
}

#main .nerd-font-cheat-sheet .column span {
	font-family: 'mono';
	font-size: 12px;
	max-width: 98px;
	display: inline-block;
	text-align: center;
}

#main .nerd-font-cheat-sheet .nerd-font {
	font-size: 2rem;
}

#forkongithub .fa {
	font-size: 1.25rem;
}

/* for any ASCII :) */
#forkongithub span {
	font-size: 1.75rem;
}

#forkongithub a {
  display: inline-block;
}

/* Release Changelog section */

#release summary {
	text-align: center;
	font-size: 1.25em;
	cursor: pointer;
	padding: 0px 0px 20px 0px;
}
