[Config]
commandline: --removeligatures --makegroups 5
abort-mono-patch: True
[Subtables]
# NotoSans has two sets, one in the 'normal' and one different
# in the *Italic* styles.
ligatures: [
    ["!Italic", "'liga' Standard Ligatures lookup 41 subtable"],
    ["!Italic", "Ligature Substitution lookup 15 subtable"],
    ["!Italic", "Ligature Substitution lookup 14 subtable"],
    ["!Italic", "Ligature Substitution lookup 13 subtable"],
    ["Italic", "'liga' Standard Ligatures lookup 39 subtable"],
    ["Italic", "Ligature Substitution lookup 12 subtable"],
    ["Italic", "Ligature Substitution lookup 11 subtable"] ]
