# These config files are read by the font-patcher
# They are INI style files, but some keys have JSON values
[Config]
commandline: --removeligatures --makegroups 2
abort-mono-patch: True
[Subtables]
# List of either
# - a simple string (of the subtable to be removed)
# - a 2 element list consisting of regex on font fullname and subtable name
#   the regex can be prepended with '!' to invert it
ligatures: [
        "'dlig' Discretionary Ligatures lookup 12 contextual 0",
        "'dlig' Discretionary Ligatures lookup 11 subtable",
        "'dlig' Discretionary Ligatures lookup 9 subtable",
        ["!Italic", "'liga' Standard Ligatures in Latin lookup 6 subtable"] ]
