[Config]
commandline: --removeligatures
[Subtables]
# fi/fl are dlig in Regular but liga in Italic
ligatures: [
    ["Italic", "'liga' Standard Ligatures in Latin lookup 17 subtable"],
    ["!Italic", "'dlig' Discretionary Ligatures in Latin lookup 21 subtable"] ]
