# triggers a release or a release candidate based on the version defined in package.json

name: Release

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
    paths-ignore:
      - 'images/**'
      - '**.md'
      - '.all-contributorsrc'
      - 'chocolatey/**'
      - 'bin/scripts/lib/**'
      - 'Dockerfile'
      - 'install.ps1'
      - 'install.sh'
      - 'LICENSE'
      - 'package**'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:

  setup-fonts-matrix:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      -
        id: set-matrix
        run: |
          cd -- $GITHUB_WORKSPACE/bin/scripts/
          fontNames=$(./get-font-names-from-json.sh)
          echo "${fontNames}"
          echo "::set-output name=matrix::${fontNames}"
          echo ${{ steps.set-matrix.outputs.matrix }}

    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

  # Workflow to build and install dependencies
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    needs: setup-fonts-matrix

    env:
      GITHUB_ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    strategy:
      matrix:
        font: ${{fromJson(needs.setup-fonts-matrix.outputs.matrix)}}

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - name: Set release variables
        run: |
          cd -- "$GITHUB_WORKSPACE"
          cat package.json
          RELEASE_TAG_VERSION=$(cat package.json \
          | grep version \
          | head -1 \
          | awk -F: '{ print $2 }' \
          | sed 's/[",]//g')
          echo "RELEASE_TAG_VERSION=$RELEASE_TAG_VERSION" >> $GITHUB_ENV
          [[ "$RELEASE_TAG_VERSION" == *"-RC"* ]] && echo "RELEASE_CANDIDATE=true" || echo "RELEASE_CANDIDATE=false" >> $GITHUB_ENV

      # Install and setup Dependencies
      # @TODO cache the next 4 steps with actions/cache or upload
      - name: Setup core dependencies
        run: |
          sudo apt update -y -q
          sudo apt install software-properties-common -y -q
          sudo apt install python3-fontforge -y -q

      # Ubuntu 20.04 has only fontforge release 2020, but there are some vital bugfixes in the 2022 release
      # This can be replaced with the ordinary apt package when Ubuntu updates, probably with 22.10?
      - name: Fetch FontForge
        run: |
          curl -L "https://github.com/fontforge/fontforge/releases/download/20220308/FontForge-2022-03-08-582bd41-x86_64.AppImage" \
            --output fontforge
          chmod u+x fontforge
          echo Try appimage
          ./fontforge --version
          export PATH=`pwd`:$PATH
          echo "PATH=$PATH" >> $GITHUB_ENV
          echo Try appimage with path
          fontforge --version

      # It is unclear what this has been needed for
      - name: Setup additional dependencies
        if: false
        run: |
          pip install fonttools --quiet

      # It is unclear what this has been needed for
      - name: Build FreeType from source
        if: false
        run: |
          wget http://downloads.sourceforge.net/project/freetype/freetype2/2.7/freetype-2.7.tar.gz --quiet
          tar -zxf freetype-2.7.tar.gz
          cd freetype-2.7
          ./configure
          make --quiet
          sudo make install --quiet

      # It is unclear what this has been needed for
      - name: Build Harfbuzz from source
        if: false
        run: |
          wget http://www.freedesktop.org/software/harfbuzz/release/harfbuzz-1.3.4.tar.bz2 --quiet
          tar -xjf harfbuzz-1.3.4.tar.bz2
          cd harfbuzz-1.3.4
          ./configure
          make --quiet
          sudo make install --quiet

      - name: Verify setup
        run: |
          fontforge --version
          fontforge --version 2>&1 | grep libfontforge | awk '{print $NF}'

      - name: Bump version for source files once
      # @todo fixme - put in a separate job with the release env setup and output the release info
        if: ${{ matrix.font == '3270' }}
        run: |
          cd -- "$GITHUB_WORKSPACE/bin/scripts"
          ./version-bump.sh "$RELEASE_TAG_VERSION"

      - name: Standardize the readme files
        run: |
          cd -- "$GITHUB_WORKSPACE/bin/scripts"
          ./standardize-and-complete-readmes.sh "${{ matrix.font }}"

      - name: Patch all the variations of the font family
        run: |
          cd -- "$GITHUB_WORKSPACE/bin/scripts"
          fontforge --script `pwd`/../../font-patcher --version
          ./gotta-patch-em-all-font-patcher\!.sh "/${{ matrix.font }}"

      - name: Generate fontconfig and casks
        run: |
          cd -- "$GITHUB_WORKSPACE/bin/scripts"
          ./generate-fontconfig.sh
          ./generate-casks.sh "${{ matrix.font }}"

      - name: Archive font package zip files
        run: |
          cd -- "$GITHUB_WORKSPACE/bin/scripts"
          ./archive-fonts.sh "${{ matrix.font }}"

      - name: Upload zip file archive for release
        uses: softprops/action-gh-release@v0.1.14
        with:
          prerelease: ${{ env.RELEASE_CANDIDATE != 'false' }}
          tag_name: ${{ env.RELEASE_TAG_VERSION }}
          files: archives/*

      - name: Upload patched fonts as artifacts
        uses: actions/upload-artifact@v2
        with:
          name: patched-fonts
          # adding multiple paths (i.e. LICENSE) is a workaround to get a least common ancestor
          # of the root directory for artifact path purposes
          path: |
            patched-fonts/${{ matrix.font }}
            LICENSE

  release-font-patcher:
    name: Archive font patcher and add to release
    needs: build

    env:
      GITHUB_ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set release variables
        run: |
          cd -- "$GITHUB_WORKSPACE"
          cat package.json
          RELEASE_TAG_VERSION=$(cat package.json \
          | grep version \
          | head -1 \
          | awk -F: '{ print $2 }' \
          | sed 's/[",]//g')
          echo "RELEASE_TAG_VERSION=$RELEASE_TAG_VERSION" >> $GITHUB_ENV
          [[ "$RELEASE_TAG_VERSION" == *"-RC"* ]] && echo "RELEASE_CANDIDATE=true" || echo "RELEASE_CANDIDATE=false" >> $GITHUB_ENV

      - name: Archive font-patcher script for release
        run: |
          cd -- "$GITHUB_WORKSPACE/bin/scripts"
          ./archive-font-patcher.sh

      - name: Upload font-patcher archive for release
        uses: softprops/action-gh-release@v0.1.14
        with:
          prerelease: ${{ env.RELEASE_CANDIDATE != 'false' }}
          tag_name: ${{ env.RELEASE_TAG_VERSION }}
          files: archives/*

  commit:
    name: Commit and push patched fonts to the repo
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Prepare repo (clear out old and obsolete fonts)
        run: |
          cd -- "$GITHUB_WORKSPACE/patched-fonts"
          find . -name "*.[to]tf" -exec rm {} \;

      - name: Download patched fonts from build
        id: download-patched-fonts
        uses: actions/download-artifact@v2
        with:
          name: patched-fonts
          path: .

      - uses: EndBug/add-and-commit@v9
        with:
          add: 'patched-fonts'
          message: Rebuilds patched fonts
          committer_name: GitHub Actions
          committer_email: 41898282+github-actions[bot]@users.noreply.github.com
